<%- include('./partials/header') %> 

<main>
<%- include('./partials/nav') %> 


<section class="main">
    <% moviedata.forEach(ele => { %>
    <article class="article">
        <a href="/details/<%= ele.id %>">
            <img src="https://image.tmdb.org/t/p/w500<%= ele.poster_path %> " alt="">
            <h3><%= ele.title%> </h3>
        </a>
       
    </article>
    <% }) %>
    <button onclick="first()">1</button>
    <button>2</button>
</section>

</main>
<%- include('./partials/footer') %> 